<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="LOG_LEVEL" source="stringer.logging.level" defaultValue="INFO"/>

    <conversionRule conversionWord="levelColor"
                    class="com.zzkingcc.stringer.server.logging.LevelColorConverter"/>

    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %levelColor(%-5level) %cyan([%X{traceId:--}]) [%thread] %logger{36} - %msg%n%ex"/>

    <!-- ===== 控制台 ===== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
